<html>
  <head>
    <title>Groups</title>

    {% include 'components/head.html' %}
  </head>
  <body>
    <div class="w-full p-3 bg-slate-700">
      <h1 class="text-white text-2xl">Jiu Jitsu Notes</h1>
    </div>

    <hr />

    {% for group in groups %}
      {% include "components/group/static.html" %}
      {% for position in group.positions %}
        {% include 'components/position/static.html' %}
      {% endfor %}
    {% endfor %}

    <button hx-post="/groups/edit" hx-swap="beforebegin">
      New Group
    </button>
  </body>
</html>
