<html>
  <head>
    <title>Jiu Jitsu Notes - {{ group.name }}</title>

    {% include 'components/head.html' %}
  </head>
  <body>
    {% include "components/navbar.html" %}
    
    <div class="flex justify-center pt-5">  
      <div class="p-3 flex flex-col gap-10 w-full max-w-xl">
        <div class="flex gap-1 text-gray-600">
          <a href="/" class="hover:underline">Home</a>
          <p>></p>
          <a href="/groups/" class="hover:underline">Groups</a>
          <p>></p>
          <a href="/group/{{ group.id }}" class="hover:underline">{{ group.name }}</a>
        </div>

        <div>
          <h2 class="text-4xl font-semibold">{{ group.name }}</h2>
          <p class="text-gray-600 pt-2">{{group.description }}</p>
        </div>

        <form
          hx-post="/positions/list?groupId={{ group.id }}"
          hx-target="#positions"
          hx-swap="innerHTML"
          class="flex gap-2"
        >
          <input
            type="text"
            name="search"
            placeholder="Search"
            class="border px-2 py-1.5 rounded-md w-full"
          />

          <button
            type="submit"
            class="bg-slate-700 text-white px-2 py-1.5 rounded-md w-32"
          >
            Search
          </button>
        </form>

        {% set positions = group.positions %}
        <div id="positions" class="flex flex-col gap-10">
          {% include "components/position/list.html" %}
        </div>

        <button
          hx-post="/positions/editable?groupId={{ group.id }}"
          hx-target="#positions"
          hx-swap="beforeend"
          class="bg-slate-700 text-white px-2 py-1.5 rounded-md w-32"
        >
          New Position
        </button>
      </div>
    </div>
  </body>
</html>
