<html>
  <head>
    <title>Jiu Jitsu Notes - Groups</title>

    {% include 'components/head.html' %}
  </head>
  <body>
    {% include "components/navbar.html" %}

    <div class="h-28"></div>
    
    <div class="flex justify-center">
      <div class="m-5 flex flex-col gap-3">
        <h1 class="text-5xl font-black">
          Jiu Jitsu Study<br/>Done Better.
        </h1>
        <p class="text-gray-600 text-lg italic">Redefining how we study and explore the sport of Brazilian Jiu Jitsu.</p>

        <a href="/groups/" class="px-2 py-1.5 bg-slate-700 text-white rounded-md w-32 text-center">Get Started</a>
      </div>
    </div>
  </body>
</html>
