<html>
  <head>
    <title>{{ group.name }}</title>

    {% include 'components/head.html' %}
  </head>
  <body>
    <div class="w-full p-3 bg-slate-700">
      <h1 class="text-white text-2xl">{{ group.name }}</h1>
    </div>
    <p class="p-2 text-gray-600">{{group.description }}</p>

    <div class="p-3 flex flex-col gap-2">
      {% for position in group.positions %}
        {% include 'components/position_title/static.html' %}
      {% endfor %}
    </div>

    <button
      hx-post="/positions/edit?groupId={{ group.id }}"
      hx-swap="beforebegin"
    >
      New Position
    </button>
  </body>
</html>
