<form
  hx-put="/positions/{{ position.id }}"
  hx-swap="outerHTML"
  hx-trigger="submit"
  class="flex gap-3 overflow-x-auto m-0 items-center"
>
  <button type="submit" class="px-2 p-1 rounded-md bg-slate-700 text-white">Save</button>

  <input type="text" name="name" value="{{ position.name }}" class="border px-2 p-1 rounded-md min-w-[13rem] whitespace-nowrap !outline-none" />
  <input type="text" name="description" value="{{ position.description }}" class="border px-2 p-1 rounded-md whitespace-nowrap !outline-none" />
</form>
