{% set position_id = position.name.lower().replace(' ', '-') %}
<div
  class="flex flex-col gap-10"
  id="{{ position_id }}"
>
  <div class="flex flex-col gap-3">
    <div
      hx-get="/api/positions/{{ position.id }}/editable"
      hx-target="#{{ position.name.lower().replace(' ', '-') }}"
      hx-swap="outerHTML"
      hx-trgger="click"
    >
      <h2 class="text-2xl font-semibold">{{ position.name }}</h2>
      <p class="text-gray-600">{{ position.description }}</p>
    </div>

    <div class="flex flex-col gap-1" id="{{ position_id }}-technique-list">
      {% for technique in position.techniques_from %}
        {% include 'components/technique/readonly.html' %}
      {% endfor %}
    </div>
    
    <button
      hx-post="/api/positions/{{ position.id}}/techniques/editable"
      hx-swap="beforeend"
      hx-target="#{{ position_id }}-technique-list"
      class="bg-slate-700 text-white px-2 py-1.5 rounded-md w-32 mt-3"
      >
      Add Technique
    </button>
  </div>
  <hr>
</div>
