<form
  hx-post="/techniques/?fromPositionId={{ from_position_id }}&toPositionId=1"
  hx-swap="outerHTML"
  class="flex gap-2 items-center"
>
  <input
    type="text"
    name="name"
    placeholder="Technique Name"
    class="border px-2 py-1.5 rounded-md"
  />

  <input
    type="text"
    name="description"
    placeholder="Technique Description"
    class="border px-2 py-1.5 rounded-md"
  />

  <button
    type="submit"
    class="bg-slate-700 text-white px-2 py-1.5 rounded-md"
  >Save</button>
</form>
