<form
  hx-post="/techniques/?fromPositionId={{ from_position_id }}"
  hx-swap="outerHTML"
  class="flex flex-col gap-2 my-5"
>
  <div class="flex gap-2 items-center whitespace-nowrap">
    <input
      type="text"
      name="name"
      placeholder="Technique Name"
      class="border px-2 py-1.5 rounded-md w-full"
    />

    <input
      type="text"
      name="description"
      placeholder="Technique Description"
      class="border px-2 py-1.5 rounded-md w-full"
    />
  </div>

  <select
    class="border bg-white px-2 py-1.5 rounded-md"
    name="to_position_id"
  >
    <option value="">Select a position</option>
    {% for position in positions %}
      <option
        value="{{ position.id }}"
      >{{ position.name }}</option>
    {% endfor %}
  </select>

  <div class="flex gap-2">
    <button
      type="submit"
      class="bg-slate-700 text-white px-2 py-1.5 rounded-md w-full"
    >
      Save
    </button>
  </div>
</form>
