<div class="flex justify-between pr-3 technique">
  <p
    hx-get="/api/positions/{{ technique.from_position_id }}/techniques/{{ technique.id }}/detailed"
    hx-swap="outerHTML"
    hx-trigger="click"
    hx-target="closest .technique"
    class="cursor-pointer"
  >
    {{ technique.name }}
  </p>

  <p
    hx-get="/api/positions/{{ technique.from_position_id }}/techniques/{{ technique.id }}/editable"
    hx-swap="outerHTML"
    hx-trigger="click"
    hx-target="closest .technique"
    class="cursor-pointer"
  >
    Edit
  </p>
</div>
