<form
  hx-put="/api/groups/{{ group.id }}/positions/{{ position.id }}?component=list-item"
  hx-swap="outerHTML"
  hx-trigger="submit"
  class="flex flex-col gap-10"
>
  <div class="flex flex-col gap-3">
    <input
      type="text"
      name="name"
      value="{{ position.name }}"
      class="border px-2 py-1.5 rounded-md !outline-none text-2xl"
    />

    <input
      type="text"
      name="description"
      value="{{ position.description }}"
      class="border px-2 py-1.5 rounded-md !outline-none"
    />

    <div class="flex gap-3">
      <button
        type="submit"
        class="px-2 p-1 rounded-md bg-slate-700 text-white w-full"
      >
        Save
      </button>

      <button
        type="submit"
        class="px-2 p-1 rounded-md bg-red-700 text-white w-full"
        hx-delete="/api/groups/{{ group.id }}/positions/{{ position.id }}"
        hx-target="closest form"
      >
        Delete
      </button>
    </div>
  </div>
  <hr>
</form>
